body {
    background-image: url('../images/background.jpg');
}

.view-panel {
    padding-top:0px;
}

.login-color {
    color: #1a6ca3;
}

.login-box {
    background: rgba(48,143,194,1);
    background: -moz-linear-gradient(left, rgba(48,143,194,1) 0%, rgba(168,218,245,1) 28%, rgba(48,143,194,1) 75%, rgba(26,108,163,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(48,143,194,1)), color-stop(28%, rgba(168,218,245,1)), color-stop(75%, rgba(48,143,194,1)), color-stop(100%, rgba(26,108,163,1)));
    background: -webkit-linear-gradient(left, rgba(48,143,194,1) 0%, rgba(168,218,245,1) 28%, rgba(48,143,194,1) 75%, rgba(26,108,163,1) 100%);
    background: -o-linear-gradient(left, rgba(48,143,194,1) 0%, rgba(168,218,245,1) 28%, rgba(48,143,194,1) 75%, rgba(26,108,163,1) 100%);
    background: -ms-linear-gradient(left, rgba(48,143,194,1) 0%, rgba(168,218,245,1) 28%, rgba(48,143,194,1) 75%, rgba(26,108,163,1) 100%);
    background: linear-gradient(to right, rgba(48,143,194,1) 0%, rgba(168,218,245,1) 28%, rgba(48,143,194,1) 75%, rgba(26,108,163,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#308fc2', endColorstr='#1a6ca3', GradientType=1 );
    padding: 35px; 
    margin-top: 55%;
}

.login-box-background {
    background-color: #fff; 
    padding: 20px 40px;
    color: #1a6ca3;
}

.form-background-label {
    background-color: rgba(168,218,245,1); 
    border-color: rgba(48,143,194,1);
}

.form-border-input {
    border-color: rgba(48,143,194,1);
}

.login-button {
    font-weight: bolder;
}

.waiting-box {
    margin-top: 8%; 
    text-align: center;
}